<!doctype html>
<html ng-app="dietApp">
  <head>
    <link rel = "stylesheet" type = "text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="../js/app.js"></script>
  </head>
    <body> 
        <div ng-controller="MenuController">
          <div ng-controller = "JournalController">
            <form name = "newJournalEntry" ng-submit = "addJournalEntry()">
              <select ng-model = "newEntry">
                <option ng-repeat = "item in menu" ng-selected = "displayItemStats($index)"> {{item.Name}} </option>
              </select>
              <div> 
                {{item.Name}}
              </div>
              <button type="submit">Add Item</button>
            </form>
          </div>
        </div>


     
  </body>
</html> 